.cart {
  max-width: 100%;
  align-items: center;
  /* display: flex;
  justify-content: center; */
  background-color: #313131;
  color: white;
}

.cart h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.totalButton {
  margin-right: 20px;
  display: flex;
  justify-content: end;
  height: 3rem;
  color: #007bff;
}

.totalButton button {
  height: 3rem;
  width: 8rem;
  border-radius: 8px;
  color: aliceblue;
  background-color: #007bff;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom button {
  height: 3rem;
  width: 7rem;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
}
