.box {
  
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #57857d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.item img {
  width: 8rem;
  height: 8rem;
  margin-right: 10px;
  border: 2px solid white;
}

.details {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 26px;
  font-weight: bold;
  /* margin-bottom: 5px; */
  margin-left: 30%;
}

.price {
  margin-left: 10px;
  font-size: 20px;
  color: white;
}

.controls {
  display: flex;
  align-items: center;
}
.controls button {
  height: 30px;
  width: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.controls button:hover{
  background-color: #b1ab62;
  color: #312c1d;
}

/* .button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: #ffc404;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
} */

.quantity {
  margin: 0 5px;
}

.total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  /* font-weight: bold; */
  cursor: pointer;
}


.button:hover {
  background-color: #b1ab62;
  color: #312c1d;
}

.button:active {
  background-color: #b1ab62;
  color: #312c1d;
}

.removeButton {
  display: flex;
  justify-content: end;
}

