@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(#080808, #000000); */
  background-color: white;
  color: #d9e2f1;
  min-height: 100vh;
}

/* #main-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10%;
} */

/* #main-header h1{
  margin-left: 20rem;
  padding: 10px;
  border: 3px solid red;
  box-shadow: 0 6px 8px rgba(255, 2, 2, 0.1);
  width: 50rem;
  text-align: center;
  gap: 1rem;
} */

#product-list {
  /* width: 90%;
  max-width: 20rem; */
  list-style: none;
  margin: 1rem auto;
  padding: 0.7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  overflow: hidden;
}

.cart {
  /* position: fixed; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 20px;
}

.cart-main {
  display: flex;
  justify-content: space-between;
}

.cart span {
  color: #ffc404;
}

.cart-button {
  font: inherit;
  cursor: pointer;
  background-color: #ffc404;
  /* border: 1px solid #ffc404; */
  color: #1f1a09;
  padding: 0rem 1.5rem;
  border-radius: 4px;
}

.cart-button:hover,
.cart-button:active {
  background-color: #ffc404;
  /* height: 50px; */
  /* margin-top: 15px; */
  border-color: #ffab04;
  color: #1f1a09;
}

.cart-button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1.5rem;
  color: #ffc404;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
}
/* 
.cart-value {
  font: inherit;
  cursor: pointer;
  width: 1rem;
  background-color: #ffc404;
   border: 1px solid #ffc404;
  color: white; 
  padding: 0.5rem 1.5rem;
  position: relative;
  border-radius: 100px;
} */

/* .cartContainer {
  display: flex;
  gap: 10px;
  align-items: center;
} */
.cartContainer {
  margin: 15px;
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  /* display: inline-block; */
}
.cart-value {
  position: absolute;
  top: -10px;
  right: -14px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 3px 8px;
  border-radius: 100px;
  font-size: 10px;
}

/* Pagination.css */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.pagination a.active {
  background-color: black;
  color: #fff;
}

.pagination a:hover {
  background-color: #a58a51;
  color: #fff;
}
